# Copy this file, rename it to .env, and fill in the missing passwords!
PORT=3000
MONGO_URI=mongodb+srv://elevatex-dev:<ASK_AHMED_FOR_PASSWORD>@cluster0.coroyjo.mongodb.net/elevatex_dev?retryWrites=true&w=majority